version: '3'
services:
  db:
    image: mysql:5.7.20
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    ports:
      - '3306:3306'
    volumes:
      - ./docker/mysql/volumes:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: passw0rd
  app:
    build: .
    environment:
      RAILS_ENV: development
      RAILS_RELATIVE_URL_ROOT: /
      DEV_DB_PASSWORD: passw0rd
      DEV_DB_HOST: db
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/project_name
    depends_on:
      - db
